@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div id="top-bar">
        <span class="glyphicon glyphicon-home"></span>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Mail</a></li>
            <li><a href="#">Flickr</a></li>
            <li><a href="#">Tumblr</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Answers</a></li>
            <li><a href="#">Groups</a></li>
            <li class="dropdown"><a href="#">More</a></li><i class="fa fa-angle-down"></i>
        </ul>
    </div>
</div>
<div class="row main-nav">
    <div class="row search-nav">
        <img src="~/images/yahoo-finance-logo.png" id="main-logo"></img>
        <form action="/stock-index/find" method="POST" class="search-form">
            <input type="text" placeholder="Search for news, sympbols or companies" id="stock-name" name="index-starts-with">
            <button class="button">Search</button>
        </form>
        <span class="glyphicon glyphicon-bell"></span>
        <span class="glyphicon glyphicon-envelope"></span>
    </div>
    <div id="fin-links">
        <ul>
            <li><a href="#">Finance Home</a></li>
            <li><a href="#">Watchlists</a></li>
            <li><a href="#">My Portfolio</a></li>
            <div class="dropdown">
                <li><a href="#">My Screeners</a></li>
                <ul class="dropdown-menu">
                    <li class="drop-list"><a href="#">Saved Screens</a></li>
                    <li class="drop-list"><a href="#">Equity Screener</a></li>
                    <li class="drop-list"><a href="#">Mutual Fund Screener</a></li>
                    <li class="drop-list"><a href="#">ETF Screener</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Markets</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Industries</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Personal Finance</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Technology</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Originals</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <li><a href="#">Events</a></li>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </ul>
    </div>
</div>
<div class="portfolio-head">
    <h4><span>My Portfolios</span>/My Watchlist</h4>
    <a href="#"><span class="glyphicon glyphicon-plus" style="-webkit-text-stroke: 2.5px white; font-size: 16px;"></span>Create Portfolio</a>
    <a href="#">Settings</a>
</div> 
<div class="summary">
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Last Price</th>
                <th>Shares</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">TSLA</a></td>
                <td>Some value</td>
                <td>Some value</td>
                <td>Some value</td>
            </tr>
        </tbody>
    </table>
</div>